/* CSS styles for index.html */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    font-size: 120%;
    background-color: #6f6c6c;
    color:white;
    width: 20%;
}

#contactinfo {
    padding-top: 8%;
}

.section1 {
    display: flex;
    padding-top: 5%;
    padding-left:5%;
    padding-bottom: 6%;
  }

  .content {
    width: 80%; /* Adjust this value as needed */
    padding-right: 20%;
    position: relative;
  }

  img {
    max-width: 40%; /* Adjust this value as needed */
    height: auto;
  }

h1 {
    background-image: url(xc2worldtree.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -125px;
    padding: 30px;
    margin: 0;
    color: #000000;
    text-align: center;
}

.section2 {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.resume {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

/* Navigation styles */
nav {
    background-color: #a19b9b;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0;
    border-radius: 1px;
}

#copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    text-align: center;
}

#copyright2 {
    color: rgb(0, 0, 0);
}

nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: #000000;
    font-size: 120%;
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Change background color on hover */
button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Grow font size on hover */
  a:hover {
    text-decoration: underline;
  }
